<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Database</h1>

    <button onclick="window.location.href='/products'">Products</button>

    <button onclick="window.location.href='/categories'">Categories</button>

    <button onclick="window.location.href='/order'">Orders</button>

    <button onclick="window.location.href='/cart'">Cart</button>

    <button onclick="window.location.href='/logout'">Logout</button>
</body>
</html>